@use '@sass/mixins/visually-hidden' as *;

.is-hidden {
  display: none !important;
}

.is-transparent {
  opacity: 0 !important;
}

.visually-hidden {
  @include visually-hidden();
}

.visually-hidden--focusable {
  @include visually-hidden-focusable();
}

.no-breaks {
  white-space: nowrap;
}
