@use '@sass/mixins/media-queries' as mq;

h1 {
  margin: 0;

  line-height: var(--line-height-for-headings);

  font-weight: var(--font-weight-bold);
}

h2 {
  margin: 0;

  line-height: var(--line-height-for-headings);

  font-size: var(--xl);
  font-weight: var(--font-weight-bold);
}

h3 {
  margin: 0;

  font-weight: var(--font-weight-bold);
}

h4 {
  margin: 0;

  font-weight: var(--font-weight-bold);
}
