.footer {
  position: relative;
  z-index: var(--z-index-for-footer);

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: var(--md);

  margin-top: auto;
  min-height: var(--height-for-footer);
  background-color: var(--bg-color-for-footer);
  padding-inline: calc(50% - var(--width-for-content-half));

  font-size: var(--md-sm);
}

.footer__copy {
  color: var(--gray-11);
}

.footer__euripides-attribution {
  font-style: italic;
}
