@use '@sass/mixins/media-queries' as mq;

.header {
  display: flex;
  justify-content: space-between;

  height: var(--height-for-header);

  ///
  /// Use box-shadow instead of border for this one:
  /// Does not affect content size and makes calculations easier.
  /// Also add a subtle shadow for the sticky header.
  ///
  box-shadow:
    0 0 0 var(--border-width-for-section) var(--border-color-for-section),
    var(--shadow-2);

  background-color: var(--bg-color);
  padding-inline: var(--space-x);

  @include mq.to-multi-col {
    align-items: center;
    padding-bottom: var(--height-for-header-row-search);
  }

  @include mq.from-multi-col {
    align-items: center;
  }

  @include mq.from-lg {
  }
}

.site-branding {
  display: flex;
  align-items: center;

  position: relative;

  transition-property: left;
  transition-duration: var(--transition-duration);

  line-height: normal;
  text-decoration: none;
  color: inherit;

  font-size: var(--lg);
  font-weight: var(--font-weight-bold);

  @include mq.from-2xl {
    left: calc((var(--width-for-logo) + var(--gap-for-branding)) * -1);
  }
}

.site-branding .icon {
  top: 0.015625em;

  transition-property: scale;
  transition-duration: var(--transition-duration);

  margin-right: var(--gap-for-branding);
  width: var(--width-for-logo);
  height: var(--width-for-logo);

  font-size: inherit;
  font-size: inherit;

  fill: var(--color-for-logo);
}

.site-branding:hover .icon {
  scale: var(--scale);
}


.site-title {
}

.header-links {
  display: flex;

  transition-property: opacity;
  transition-duration: var(--transition-duration);

  margin-left: auto;
  margin-right: var(--md);

  @include mq.from-multi-col {
    margin-right: 0;
  }

  .search-page & {
    opacity: 0;
  }
}

.header-link {
  display: grid;
  place-content: center;

  transition-property: font-weight;
  transition-duration: var(--transition-duration);

  height: calc(var(--height-for-button) / var(--scale));
  padding-right: var(--4xs);

  color: var(--color);
  text-decoration: none;

  &:not(:last-child) {
    margin-right: var(--4xs);
  }

  &:hover,
  &:active,
  &:focus-visible {
    color: var(--black);

    font-weight: var(--font-weight-bold);
  }
}

.header-link--npm {
  width: 5ch;
}

.header-link--github {
  width: 7ch;
}
