@use '@sass/mixins/media-queries' as mq;

[data-omni-track] {
  display: flex;                    /// Required for horizontal layout
  width: 100%;                      /// Required for proper sizing
  overflow-x: auto;                 /// Essential for scrolling
}

[data-omni-slide] {
  flex: none;                       /// Essential to prevent slides from shrinking
}
