[data-omni-track] {
  scroll-behavior: smooth;          /// Recommended for smooth scrolling
  scroll-snap-type: x mandatory;    /// Recommended for snap behavior
}

[data-omni-slide] {
  max-width: 100%;

  .demo--snap-start & {
    scroll-snap-align: start;
  }

  .demo--snap-center & {
    scroll-snap-align: center;
  }
}
