@font-face {
  font-display: optional;
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/atkinson-hyperlegible-v11-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: optional;
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/atkinson-hyperlegible-v11-latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: optional;
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/atkinson-hyperlegible-v11-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: optional;
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/atkinson-hyperlegible-v11-latin-700italic.woff2') format('woff2');
}
