@font-face {
  font-display: optional;
  font-family: 'Host Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/host-grotesk-v4-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: optional;
  font-family: 'Host Grotesk';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/host-grotesk-v4-latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: optional;
  font-family: 'Host Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/host-grotesk-v4-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: optional;
  font-family: 'Host Grotesk';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/host-grotesk-v4-latin-500italic.woff2') format('woff2');
}

@font-face {
  font-display: optional;
  font-family: 'Host Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/host-grotesk-v4-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: optional;
  font-family: 'Host Grotesk';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/host-grotesk-v4-latin-600italic.woff2') format('woff2');
}

@font-face {
  font-display: optional;
  font-family: 'Host Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/host-grotesk-v4-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: optional;
  font-family: 'Host Grotesk';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/host-grotesk-v4-latin-700italic.woff2') format('woff2');
}
