---
import Layout from '@layouts/MainLayout.astro';
---

<Layout title ="404 - Omni Carousel" description="Page not found">

  <Fragment slot="main">

    <article class="entry entry--404">
      <h1>Page not found.</h1>
    </article>

  </Fragment>

</Layout>
