---
import Head from '../components/head/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SkipLink from '@components/SkipLink.astro';
import Nav from '@components/Nav.astro';
import { SITE } from '@root/site/site.config';

interface Props {
  title: string;
  description?: string;
  pagefindIgnore?: boolean;
}

const { title, description, pagefindIgnore } = Astro.props;
const { pathname } = Astro.url;
const isSearchPage = pathname.startsWith('/search');
---

<!DOCTYPE html>

<html lang="en">
  <Head title={title} description={description} />
  <body
    data-pagefind-ignore={pagefindIgnore ? '' : undefined}
    class:list={[
      pathname === '/' && 'home-page',
      pathname.startsWith('/demos') && 'demos-page',
      pathname.startsWith('/docs') && 'docs-page',
      pathname.startsWith('/search') && 'search-page',
      pathname.startsWith('/changelog') && 'changelog-page',
    ]}
  >
    <SkipLink />
    <Header />
    <main
      id="main"
      class="main"
      data-pagefind-ignore={pagefindIgnore ? '' : undefined}
    >
      <slot name="main" />
    </main>
    { !isSearchPage && (
      <>
        <Nav />
        <Footer />
      </>
    ) }
  </body>
</html>

<script>
  import { initNav } from '@modules/nav';
  initNav();
</script>
