///
/// Color
///
:root {
  --color: var(--gray-13);

  --bg-color: var(--white);

  --color-for-logo: var(--teal-11);

  --color-for-link: var(--amber-11-25);
  --color-for-link-decoration: rgba(127, 127, 127, 0.125);
  --color-for-link-decoration-interaction: var(--color);
  --color-for-button-interaction: var(--blue-11);

  --bg-color-for-button: var(--gray-4);
  --bg-color-for-button-interaction: var(--gray-6);

  --border-color-for-section: var(--gray-5);
  --border-color-for-button: var(--gray-5);

  --color-for-nav-link: var(--color);
  --color-for-menu-item-current: var(--teal-13);
  --bg-color-for-menu-item-interaction: var(--gray-3);
  --bg-color-for-menu-item-current: var(--teal-3);

  --bg-color-for-menu-mobile: var(--gray-1);
  --bg-color-for-menu-close: var(--gray-4);
  --color-for-menu-close: var(--black);

  --bg-color-for-button-hover: var(--gray-6);
  --color-for-button-hover: var(--black);

  --bg-color-for-inline-code: rgba(127, 127, 127, 0.125);
  --color-for-inline-code: rgba(0, 0, 0, 1);

  --color-for-infobox: inherit;
  --color-for-infobox-link: var(--color-for-link);
  --bg-color-for-infobox: var(--gray-2-5);

  --bg-color-for-footer: var(--gray-3);

  ///
  /// a11y (Accessibility)
  ///
  --color-for-skip-link: var(--white);
  --bg-color-for-skip-link: var(--gray-12);
}
