///
/// Color
///
:root {
  --color: var(--gray-13);

  --bg-color: var(--white);

  --color-for-logo: var(--teal-11);

  --color-for-link: var(--brown-11);
  --color-for-link-decoration: rgba(127, 127, 127, 0.125);
  --color-for-link-decoration-interaction: var(--color);
  --color-for-button-interaction: var(--blue-11);

  --bg-color-for-button: var(--gray-3);

  --border-color-for-section: var(--gray-5);
  --border-color-for-button: var(--gray-5);

  --color-for-nav-link: var(--color);
  --color-for-menu-item-current: var(--teal-13);
  --bg-color-for-menu-item-interactive: var(--gray-3);
  --bg-color-for-menu-item-current: var(--teal-3);

  --bg-color-for-menu-mobile: var(--gray-1);
  --bg-color-for-menu-close: var(--gray-4);
  --color-for-menu-close: var(--black);

  --bg-color-for-button-hover: var(--gray-6);
  --color-for-button-hover: var(--black);

  --bg-color-for-inline-code: rgba(127, 127, 127, 0.125);
  --color-for-inline-code: rgba(0, 0, 0, 1);

  --color-for-infobox: inherit;
  --color-for-infobox-link: var(--brown-11-25);
  --bg-color-for-infobox: var(--gray-2-5);

  ///
  /// Search page
  ///
  --border-color-for-search-input-hover: var(--gray-7);
  --bg-color-for-search-input-hover: var(--gray-6);

  --bg-color-for-search-icon-docs: var(--blue-10-5);
  --bg-color-for-search-icon-demos: var(--orange-10-5);

  --bg-color-for-search-highlight: var(--yellow-3);
  --color-for-search-highlight: var(--yellow-13);
  --color-for-search-placeholder: rgba(14, 14, 14, 0.625);

  ///
  /// a11y (Accessibility)
  ///
  --color-for-skip-link: var(--white);
  --bg-color-for-skip-link: var(--gray-12);
}
