---
import SearchClose from '@components/SearchClose.astro';
import MagnifyingGlass from '@icons/fa/magnifying-glass-solid.svg'
import Git from '@icons/simple-icons/git.svg';
import Logo from 'public/favicon.svg';
import { SITE } from '@root/site/site.config';
import MenuToggle from './MenuToggle.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<header class="header">
  <a 
    href="/" 
    class="home-link site-branding"
    aria-current={Astro.url.pathname === '/' ? 'page' : undefined}
  >
    <Logo
      class="icon icon--site-logo"
      aria-label="Omni Carousel logo"
    />
    <span class="site-title">{title}</span>
  </a>

  {/*
    Styling for this element is found in: src/sass/components/_search.scss
  */}
  <a
    href="/search/"
    class="search-input-link search-input-appearance"
    aria-label="Click to search"
    data-astro-prefetch
  >
    {SITE.searchPlaceholder}
  </a>

  <div class="header-links">
    <a
      href={SITE.githubURL}
      title="View project on GitHub"
      aria-label="View the Omni Carousel repository on GitHub"
    >
      <Git />
    </a>
  </div>


  { Astro.url.pathname === '/search/' && (
    <SearchClose />
  )}

  { Astro.url.pathname !== '/search/' && (
    <MenuToggle />
  )}
</header>

<MagnifyingGlass />
