---
import Bars from '@icons/fa/bars-solid.svg';
import XMark from '@icons/fa/xmark-solid.svg';
---

<button
  class="menu-toggle"
  type="button"
  aria-label="Toggle menu"
  aria-expanded="false"
  aria-controls="nav"
  data-menu-toggle
>
  <Bars />
  <XMark />
</button>
