---
import XMark from '@icons/fa/xmark-solid.svg'
---

<button
  type="button"
  class="search-close"
  aria-label="Close search and go back"
  aria-keyshortcuts="Escape"
  data-search-close
>
  <XMark />
</button>
